* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #20202D;
}

p, h1, h2, h3, h4 {
  margin: 0;
}

a, 
button,
input {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 945px;
}

.section-title {
  margin-bottom: 84px;
  font-weight: 700;
  font-size: 36px;
}

.flex {
  display: flex;
}

.hero {
  padding: 50px 0 155px 0; 
  background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}

.hero-header {
  margin-bottom: 105px;
  justify-content: space-between;
  align-items: center;
}

.social-links {
  gap: 20px;
}

.social-link {
  transition: all 0.3s ease-in-out;
}

.social-link:focus {
  outline-offset: 5px;
  outline: 2px solid #ffc41d;
}

.social-link:hover {
  transform: rotate(0.25turn);
}

.hero-content {
  justify-content: space-between;
  align-items: center;
}

.hero-subtitle {
  margin-bottom: 14px;
  display: block;
  font-size: 24px;
  color: #ffbb01;
}

.hero-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 50px;
}

.hero-description  {
  margin-bottom: 38px;
  max-width: 420px;
  font-size: 16px;
  line-height: 175%;
}

.button {
  padding: 24px 42px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px 5px 10px 10px;
  box-shadow: 0 4px 0 0 #b68500;
  color: #2e2e30;
  background: linear-gradient(180deg, #fdde76 0%, #ffbb01 100%);
  transition: all 0.3s ease-in-out;
}

.button:focus-visible {
  background: none;
  background-color: #ffd86c;
}

.button:hover {
  color: #ffffff;
}

.hero-avatar {
  width: 389px;
  height: 389px;
  border-radius: 50%;
  border: 13px solid #ffffff;
  background-repeat: no-repeat;
  background-position: center top -10px;
  background-image: url('../image/avatar.jpg');
  background-color: #ffffff;
}

.features {
  padding: 64px 0 92px 0;
  background-color: #000000;
}

.features-block {
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 64px;
}

.features-item {
  flex-basis: 30%;
}

.features-img {
  margin-bottom: 22px;
}

.features-title {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
}

.features-text {
  font-size: 16px;
  line-height: 175%;
}

.projects {
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%);
}

.swiper {
  margin-bottom: 44px;
}

.project-slide {
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

.project-img {
  border-radius: 6px;
}

.project-text {
  flex-basis: 60%;
  flex-wrap: wrap;
}

.project-title {
  margin-bottom: 41px;
  flex-basis: 100%;
  font-weight: 700;
  font-size: 24px;
}

.project-time,
.project-cost {
  margin-bottom: 44px;
  flex-basis: 50%;
}

.project-time,
.project-cost,
.project-feedback {
  align-items: flex-start;
}

.project-icon {
  margin-right: 16px;
}

.project-subtitle {
  margin-bottom: 7px;
  font-weight: 700;
  font-size: 18px;
}

.project-paragraph {
  max-width: 481px;
  font-size: 16px;
}

.projects-pagination {
  justify-content: center;
  align-items: center;
}

.project-bullet {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  fill: rgba(255, 187, 1, 0);
  stroke-width: 2px;
  stroke: #ffbb01;
}

.project-bullet-active {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  fill: #ffbb01;
  stroke-width: 2px;
  stroke: #ffbb01;
}

.contacts-block {
  justify-content: space-between;
  align-items: center;
}

.contacts-form {
  padding: 40px 36px 49px 35px;
  max-width: 380px;
  border-radius: 5px;
  box-shadow: -5px 5px 0 0 #ffc41d;
  background-color: #ffffff;
}

.footer {
  padding: 57px 0 148px 0;
}

.form-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  text-align: center;
  color: #000000;
}

.input {
  padding: 23px 23px 23px 49px;
  width: 100%;
  font-size: 14px;
  line-height: 200%;
  border-radius: 5px;
  box-shadow: inset 0 3px 10px 0 rgba(199, 199, 199, 0.25);
  background-position: left 20px center ;
  background-repeat: no-repeat;
  background-color: #f8f8f8;
  color: #949494;
  transition: all 0.3s ease-in-out;
}

.input:focus {
  outline: 2px solid #ffc41d;
}

.input:hover {
  outline: none;
  background-color: #ffd86c;
}

.input-name {
  margin-bottom: 17px;
  background-image: url('../image/form/user.svg');
}

.input-phone {
  margin-bottom: 26px;
  background-image: url('../image/form/phone.svg');
}

.form-button {
  width: 100%;
}

.contacts-text {
  flex-basis: 50%;
}

.contacts-data {
  margin-bottom: 42px;
  flex-wrap: wrap;
}

.contacts-phone,
.contacts-mail {
  margin-bottom: 53px;
  flex-basis: 50%;
}

.contacts-social {
  flex-basis: 100%;
}

.contacts-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 24px;
}

.contacts-link {
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.contacts-link:focus {
  outline-offset: 5px;
  outline: 2px solid #ffc41d;
}

.contacts-link:hover {
  color: #ffc41d;
}

.contacts-social .contacts-link:not(:last-child) {
  display: inline-block;
  margin: 0 37px 10px 0;
}

.contacts-text .social-links {
  margin-bottom: 73px;
}

.contacts-policy {
  font-size: 15px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #a5a5a5;
  transition: all 0.3s ease-in-out;
}

.contacts-policy:focus {
  outline-offset: 5px;
  outline: 2px solid #ffc41d;
}

.contacts-policy:hover {
  color: #ffc41d;
}

@media (max-width: 1100px) {
  .hero-avatar {
    width: 300px;
    height: 300px;
    border-width: 10px;
  }
}

@media (max-width: 950px) {
  .project-slide {
      display: flex;
      flex-direction: column;
      row-gap: 46px;
  }

  .project-img {
    width: 100%;
  }
}

@media (max-width: 836px) {
  .hero-content {
    flex-direction: column-reverse;
    justify-content: center;
    row-gap: 17px;
  }

  .hero-text {
    text-align: center;
  }

  .features-item {
    flex-basis: 45%;
  }

  .contacts-block {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 58px;
  }

  .contacts-data {
    flex-direction: column;
    row-gap: 35px;
    max-width: 227px;
  }

  @media(max-width: 564px) {
    .hero {
      padding-bottom: 75px;
    }

    .hero-header {
      margin-bottom: 39px;
    }

    .social-links {
      gap: 10px;
    }
    
    .hero-avatar {
      width: 113px;
      height: 113px;
      border-width: 4px;
      background-size: 113px 113px;
    }

    .hero-subtitle {
      margin-bottom: 4px;
      font-size: 16px;
      line-height: 169%;
    }

    .hero-title {
      margin-bottom: 15px;
      font-size: 24px;
    }

    .hero-description {
      margin-bottom: 34px;
      font-size: 14px;
      line-height: 140%;
    }

    .button {
      padding: 14px 25px;
      font-size: 10px;
    }

    .features {
      padding: 63px 0 60px 0;
    }

    .section-title {
      margin-bottom: 49px;
      font-size: 19px;
    }

    .features-block {
      row-gap: 30px;
    }

    .features-item {
      flex-basis: 100%;
    }

    .features-title {
      margin-bottom: 6px;
      font-size: 18px;
      line-height: 156%;
    }

    .features-text {
      font-size: 14px;
      line-height: 200%;
    }

    .project-time,
    .project-cost {
      margin-bottom: 33px;
      flex-basis: 100%;
    }

    .project-title {
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 150%;
    }

    .project-paragraph {
      font-size: 14px;
    }

    .contacts-form {
      padding: 39px 19px 47px 14px;
    }

    .form-title {
      margin-bottom: 27px;
      font-size: 15px;
      line-height: 140%;
    }

    .contacts-data {
      margin-bottom: 39px;
    }

    .contacts-phone,
    .contacts-mail {
      margin-bottom: 0;
      flex-basis: 100%;
    }

    .contacts-title {
      margin-bottom: 12px;
      font-size: 18px;
    }

    .contacts-link {
      font-size: 14px;
    }

    .contacts-text .social-links {
      margin-bottom: 27px;
    }

    .footer {
      padding-bottom: 50px;
    }
  }
}